@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=PT+Serif:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Bitter, serif;
  background: url(../images/Chichen_Itza.jpg) no-repeat center center fixed;
  background-size: cover;
}


/* navigation */

header {
  height: 60px;
  background-color: black;
}

h1 {
  font-family: "PT Serif", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav-menu {
  float: right;
  list-style-type: none;
}

#nav-menu li {
  float: left;
}

#nav-menu a {
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

#nav-menu a:hover {
  text-decoration: underline;
}

#nav-menu a:hover {
  text-shadow: 0 0 5px white;
}

#site-logo {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: burlywood;
  transition: 0.3s;
}

#site-logo:hover {
  text-shadow: 0 0 20px white;
}

#site-logo, #nav-menu {
  line-height: 60px;
}


/* main area */

main {
  margin: 0 auto;
  width: 80%;
}

section {
  width: 100%;
  margin: 20px auto 0;
  border-radius: 20px;
  padding: 20px;
  
  background-color: rgba(255, 255, 255, 45%);
  backdrop-filter: blur(10px);
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 35%));
  box-sizing: border-box;
}

section h2 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 0 0 2px white;
  text-decoration: underline;
}

section h3 {
  text-align: center;
  font-size: 170%;
  padding: 0 30px;
  text-shadow: 0 0 2px white;
  text-decoration: underline 2px;
  margin-bottom: 5px;
}

section h4 {
  text-align: center;
  text-shadow: 0 0 2px white;
  margin-bottom: 10px;
}

section p {
  font-size: 135%;
  margin: 0 30px 15px;
  text-shadow: 0 0 3px white;
  line-height: 30px;
  text-align: justify;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:last-of-type */
section p:last-of-type {
  margin-bottom: 0;
}

article {
  overflow: hidden;
  margin-bottom: 20px;
}

figure {
  margin: 0 30px 15px;
  width: 30%;
  clear: both;
}

audio {
  width: 80%;
}

figcaption {
  margin: 0 10px;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* timeline */

#timeline img {
  max-width: 100%;
}


/* language */

#language > p + p {
  margin-bottom: 15px;
}


/* sources */

#sources ul {
  list-style-type: circle;
  padding: 0 30px;
  font-size: 120%;
}

#sources li {
  margin-bottom: 5px;
}

#sources i {
  color: black;
}


/* contact form */

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  
  /* https://stackoverflow.com/questions/6795981/textarea-to-fill-a-parent-container-exactly-with-padding */
  box-sizing: border-box;
}

input, textarea {
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 2px;
  
  /* https://www.w3schools.com/howto/howto_css_transition_hover.asp */
  transition: 0.3s
}

input:focus, textarea:focus {
  outline: none;
  border-color: black;
}

fieldset {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

fieldset legend {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: burlywood;
}

.labels {
  display: inline-block;
  line-height: 30px;
  width: 125px;
  text-align: right;
  max-width: 180px;
}

.labels label {
  width: 100%;
  text-shadow: 0 0 3px white;
  margin-right: 10px;
}

.inputs {
  display: inline-block;
  line-height: 30px;
}

input[type=submit] {
  margin: 10px 10px 0;
  padding: 5px 10px;
  font-size: 100%;
  background-color: rgb(0, 255, 0);
  border-color: transparent;
  color: black;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 100%);
  cursor: pointer;
}

input[type=submit]:hover {
  border-color: black;
}


/* media queries */

@media screen and (max-width: 1150px) {
  #language figure {
    float: none;
  }
  
  #language figure {
    width: 100%;
  }
  
  audio {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  #timeline article {
    display: flex;
    flex-direction: column;
  }
  
  #timeline figure {
    order: 1;
    width: 80%;
    margin: 0 auto 10px;
  }
  
  #timeline p + p {
    order: 2;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 120px;
  }
  
  header > a {
    display: block;
  }
  
  #site-logo {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  
  #nav-menu {
    clear: both;
    float: left;
  }
  
  section p {
    font-size: 120%;
    margin: 0 0 15px;
  }
  
  main {
    width: 95%;
  }
}
